body{
    font-family: 'Lato', sans-serif;
}
h2{
    font-weight: 300;
}
.container{
    margin: 0 auto;
    width: 100%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.precio{
    font-size: 50px;
    color: aqua;
}
.columna{
    background: beige;
    color: darkslategray;
    margin: 0 auto;
    padding: 8px;
    border: 1px solid darkslategray;
    border-radius: 30px;
    box-shadow: 10px -10px 5px gray;
    width: 24%;
    box-sizing: border-box;

}
.btn-precio{
    background: coral;
    color: blanchedalmond;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}
.btn-precio:hover{
    background: rosybrown;
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}